header{
    background-color: rgb(202, 182, 118);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(85, 83, 83);
}

img{
    width: 300px;
}